body {
    /* background-color: #F0E2D0; */
    text-align: center;
    background-attachment: fixed;
    background-image: linear-gradient(to top right, #F0E2D0, #F4EEFF);
}

p {
    font-family: 'Bungee Shade', cursive;
    color: #364F6B;
    font-size: 2.5rem;
}

::selection {
    color: #D83A56;
    background-color: #AEE1E15f;
}

.array {
    color: #364F6B;
    font-family: 'Bungee Shade', cursive;
    font-size: 2.5rem;
    height: 5rem;
    margin: 4rem;
}

.big_head {
    font-family: 'Bungee Shade', cursive;
    color: #3FC1C9;
    font-size: 5rem;
    margin: 1rem;
}

@keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09, 0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
    }
    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

.btn-dark {
    animation: flicker 0.11s ease-in-out infinite alternate;
}

.btn-dark:hover {
    background-color: #D83A56;
    border-color: #D83A56;
}

.form-control {
    font-size: 1.2rem;
}

.form_page {
    margin: 10% auto;
}

.important_text {
    color: #D83A56;
}

.input_sequence {
    margin: 1rem 4rem;
}

#footer_text {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 1.2rem;
    color: #71C9CE;
    margin: 1rem;
}

#footer_text a {
    color: #AA96DA;
}