body {
    /* background-color: #F0E2D0; */
    text-align: center;
    background-attachment: fixed;
    background-image: linear-gradient(to top right, #F0E2D0, #F4EEFF);
}

::selection {
    color: #D83A56;
    background-color: #AEE1E15f;
}

.array {
    color: #364F6B;
    /* font-family: 'Bungee Shade', cursive; */
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    height: 5rem;
    margin: 4rem;
    margin-top: 3rem;
}

.big_head {
    font-family: 'Bungee Shade', cursive;
    color: #3FC1C9;
    font-size: 5rem;
    margin: 1rem;
}

@keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09, 0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
    }
    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

.btn-dark {
    animation: flicker 0.11s ease-in-out infinite alternate;
}

.btn-dark:hover {
    background-color: #D83A56;
    border-color: #D83A56;
}

.dont_stick_out {
    font-family: 'Libre Franklin', sans-serif;
    color: #364F6B;
    font-size: 2rem;
}

.discard {
    color: #364F6B9f;
}

.flash {
    /* background-image: linear-gradient(to top right, #D83A5600, #FF616D4f); */
    /* background-image: linear-gradient(to top right, #F25D9C0f, #FF616D4f); */
    background-image: linear-gradient(to top right, #00000000, #3FC1C94f);
    color: #071A52;
    /* border-radius: 5%; */
    border-radius: 50%;
}

.form-control {
    font-size: 1.2rem;
}

.form_page {
    margin: 10% auto;
    margin-top: 9%;
}

.found {
    color: #D83A56;
}

.important_text {
    color: #D83A56;
}

.input_sequence {
    margin: 0rem 4rem;
}

.search_info {
    /* margin: 3rem 5rem 2rem; */
    margin: 5% 7% 1% 7%;
}

.stick_out {
    font-family: 'Bungee Shade', cursive;
    color: #364F6B;
    font-size: 2.5rem;
}

.stick_out_ish {
    font-family: 'Montserrat', sans-serif;
    /* color: #3FC1C9; */
    font-size: 2.5rem;
    color: #086972;
}

#footer_text {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 1.2rem;
    color: #71C9CE;
    margin: 1rem;
}

#footer_text a {
    color: #AA96DA;
}